/******************************************************************************
 * Phoenix Icon CSS
 * @author Levi Sitters
 *
 * Common icons used on ni.com
 *****************************************************************************/

.pnx-icon-left, .pnx-icon-right, .pnx-icon{
	background: url("../img/icons/pnx-icons.png") 0 0 no-repeat;
	width: 18px;
	height: 18px;
	margin: 0 6px 0 0;
	display: inline-block;
	overflow: hidden;
	vertical-align: center;
}
.pnx-icon-right{margin: 0 0 0 3px;}
.pnx-icon{margin: 0 0 0 0;}

i.pnx-icon-left{
	margin: 0;
}

.pnx-icon-chevLeft, .pnx-icon-chevRight, .pnx-icon-plus, .pnx-icon-next, .pnx-icon-prev, 
.pnx-icon-download, .pnx-icon-quote, .pnx-icon-notice, .pnx-icon-attention, .pnx-icon-pdf,
.pnx-icon-chevRight2, .pnx-icon-gg, .pnx-icon-gg-alt, .pnx-icon-info, .pnx-icon-edit, .pnx-icon-msg-warning-sm,
.pnx-icon-print, .pnx-icon-email, .pnx-icon-rss, .pnx-icon-blog, .pnx-icon-rtf{
	position: relative;
	top: 4px;
	*top: 0;
}

.pnx-icon-chevLeft{ background-position: 0px 0px; }
.pnx-icon-chevRight{ background-position: 0 -50px; }
.pnx-icon-chevRight2{ background-position: 0 -450px; }
.pnx-icon-plus{ background-position: 0 -100px; }
.pnx-icon-next{ background-position: 0px -150px; }
.pnx-icon-prev{ background-position: 0px -200px; }
.pnx-icon-download{ background-position: 0 -250px; }
.pnx-icon-quote{ background-position: 0 -300px; }
.pnx-icon-notice{ background-position: 0 -350px; }
.pnx-icon-attention{ background-position: 0 -400px; }
.pnx-icon-pdf{background-position: -250px -300px;}
.pnx-icon-circle-checkmark {background-position:-250px -350px}
.pnx-icon-circle-clock {background-position:-250px -400px;}
.pnx-icon-circle-exclamation {background-position:-249px -449px;}
.pnx-icon-checkmark {background-position:-98px -393px}
.pnx-icon-checkmark-plus {background-position:-101px -498px}
.pnx-icon-gg {background-position:-300px 1px;margin-right:0}
.pnx-icon-gg-alt {background-position:-350px 2px;margin-right:0}
.pnx-icon-warning {background-position:-100px -300px;}
.pnx-icon-info {background-position: -297px -448px}
.pnx-icon-edit {background-position: -297px -348px}
.pnx-icon-print {background-position: -100px -250px; top: 6px; width: 14px}
.pnx-icon-email {background-position: -300px -200px; top: 8px; width: 15px}
.pnx-icon-rss {background-position: -200px -100px}
.pnx-icon-blog {background-position: -300px -250px}
.pnx-icon-rtf {background-position: -300px -150px; top: 6px; width: 12px}
.pnx-icon-dash {background-position: -350px -143px}



/**  CALLS TO ACTION (CTA) **/
.pnx-icon-cta1, .pnx-icon-cta2, .pnx-icon-cta3, .pnx-icon-cta4, .pnx-icon-cta5, .pnx-icon-cta6{
	width: 21px;
	height: 16px;
	position: relative;
	top: 3px;
	*top: 0;
}
.pnx-icon-cta5 {
	height: 22px; /*height & width is different than the others. The rest is the same. */
	width: 23px;
}

.pnx-icon-cta1{background-position:-50px 0px;}
.pnx-icon-cta2{background-position:-50px -50px;}
.pnx-icon-cta3{background-position:-50px -100px;}
.pnx-icon-cta4{background-position:-50px -150px;}
.pnx-icon-cta5{background-position:-50px -200px;}
.pnx-icon-cta6{background-position:-175px -150px; width: 5px; height: 11px;}

.pnx-icon-downArrow{
	height: 6px;
	width: 9px;
	background-position: -150px -300px;
	*margin-bottom: 3px;
}

.pnx-icon-upArrow{
	height: 6px;
	*margin-bottom: 3px;
	width: 9px;
	background-position: -150px -200px;
}

.pnx-icon-rss{
	height: 14px;
	width: 14px;
	*margin-bottom: 3px;
	background-position: -100px -150px;
}

.pnx-icon-close{
	height: 15px;
	width: 15px;
	*margin-bottom: 3px;
	background-position: -100px 0;
	position: relative;
	top: 3px;
	*top: 0;
}

.pnx-icon-db-arrow-down, .pnx-icon-db-arrow-up, .pnx-icon-db-arrow-disabled{
	width: 9px;
	height: 12px;
	position: relative;
	top: 2px;
	*top: 0;
}

.pnx-icon-arrow-up, 
.pnx-icon-arrow-right, 
.pnx-icon-arrow-down, 
.pnx-icon-arrow-left,
.pnx-icon-arrow-up-alt, 
.pnx-icon-arrow-right-alt, 
.pnx-icon-arrow-down-alt, 
.pnx-icon-arrow-left-alt, 
.pnx-icon-twistie-down, 
.pnx-icon-twistie-up,
pnx-icon-twistie-up-black,
pnx-icon-twistie-down-black{
	width: 8px;
	height: 8px;
	position: relative;
}
/*double arrows*/
.pnx-icon-db-arrow-down{background-position: -150px 0;}
.pnx-icon-db-arrow-up{background-position: -150px -50px}
.pnx-icon-db-arrow-disabled{background-position: -150px -100px}


/*dark grey arrows*/
.pnx-icon-arrow-up{background-position: -150px -200px}
.pnx-icon-arrow-right{background-position: -149px -250px}
.pnx-icon-arrow-down{background-position: -150px -298px}
.pnx-icon-arrow-left{background-position: -150px -350px}

/*white arrows*/
.pnx-icon-arrow-up-alt{background-position: -175px -200px}
.pnx-icon-arrow-right-alt{background-position: -171px -250px}
.pnx-icon-arrow-down-alt{background-position: -175px -300px}
.pnx-icon-arrow-left-alt{background-position: -175px -350px}


/*blue arrows...or twisties*/
.pnx-icon-twistie-up{background-position: -175px -400px; }
.pnx-icon-twistie-down{background-position: -175px -449px;}

/*black arrows.or twisties*/
.pnx-icon-twistie-up-black{background-position: -150px -500px; }
.pnx-icon-twistie-down-black{background-position: -150px -449px; }



.pnx-icon-cart{
	background-position: -200px -50px;
	width: 14px;
	height: 10px;
	position: relative;
	top: 1px;
	*top: -3px;
}
.global-header-nav-secondary .pnx-icon-cart{
	margin-right: 3px;
}



/******** SPINNERS ********/

.pnx-icon-spinner{
	background: url("../img/icons/spinner.gif") 0 0 no-repeat;
	width: 16px;
	height: 16px;
}

/******** X icons ********/

.pnx-icon-x{
	width: 11px;
	height: 13px;
	background-position: -200px -301px;
	position: relative;
	top: 3px;
}

.pnx-icon-x1{
	width: 9px;
	height: 12px;
	background-position: -300px -400px;
}

.pnx-icon-x2{
	width: 9px;
	height: 10px;
	background-position: -300px -397px;
}

.pnx-icon-plus2{
  width: 9px;
	height: 10px;
  background-position: -300px -496px;
}

/******** Signal & Sensor icons ********/
.pnx-signals-sensors-icons{ display:inline-block; background:url("/widgets/pnx/1.0/img/icons/signals-sensors-icons.png") top left no-repeat; }
.pnx-ssicon-volt{ width:43px; height:48px; background-position:-10px -10px; }
.pnx-ssicon-acc{ width:48px; height:48px; background-position:-10px -68px; }
.pnx-ssicon-cur{ width:43px; height:48px; background-position:-10px -126px; }
.pnx-ssicon-mic{ width:30px; height:48px; background-position:-10px -184px; }
.pnx-ssicon-enc{ width:48px; height:48px; background-position:-10px -242px; }
.pnx-ssicon-sw{ width:48px; height:48px; background-position:-10px -300px; }
.pnx-ssicon-temp{ width:20px; height:48px; background-position:-10px -358px; }
.pnx-ssicon-diosw{ width:48px; height:48px; background-position:-10px -416px; }
.pnx-ssicon-diohw{ width:48px; height:48px; background-position:-10px -473px; }
.pnx-ssicon-ctrs{ width:46px; height:48px; background-position:-10px -529px; }
.pnx-ssicon-strain{ width:46px; height:48px; background-position:-10px -577px; }
.pnx-ssicon-pwm{ width:48px; height:48px; background-position:-10px -625px; }
.pnx-ssicon-save{ width:48px; height:48px; background-position:-10px -680px; }
.pnx-ssicon-math{ width:48px; height:38px; background-position:-10px -729px; }
.pnx-ssicon-gen{ width:48px; height:48px; background-position:-10px -300px; }
.pnx-ssicon-cont{ width:48px; height:48px; background-position:-12px -826px; }
.pnx-ssicon-dep{ width:48px; height:48px; background-position:-11px -875px; }
.pnx-ssicon-eng{ width:48px; height:48px; background-position:-11px -933px; }

.pnx-signals-sensors-icons-sm{ display:inline-block; margin-right:6px; vertical-align: middle; background:url("/widgets/pnx/1.0/img/icons/signals-sensors-icons-sm.png") top left no-repeat; }
.pnx-ssicon-volt-sm{ width:25px; height:24px; background-position:-10px -10px; }
.pnx-ssicon-mic-sm{ width:25px; height:24px; background-position:-10px -65px; }
.pnx-ssicon-enc-sm{ width:25px; height:24px; background-position:-10px -119px; }
.pnx-ssicon-acc-sm{ width:25px; height:24px; background-position:-10px -173px; }
.pnx-ssicon-cur-sm{ width:25px; height:24px; background-position:-10px -227px; }
.pnx-ssicon-temp-sm{ width:25px; height:24px; background-position:-10px -281px; }
.pnx-ssicon-diohw-sm{ width:25px; height:23px; background-position:-10px -335px; }
.pnx-ssicon-diosw-sm{ width:25px; height:23px; background-position:-10px -388px; }
.pnx-ssicon-strain-sm{ width:25px; height:20px; background-position:-10px -441px; }
.pnx-ssicon-ctrs-sm{ width:25px; height:20px; background-position:-10px -491px; }
.pnx-ssicon-pwm-sm{ width:25px; height:18px; background-position:-10px -540px; }

.pnx-signals-sensors-icons-xsm{ display:inline-block; margin-right:6px; vertical-align: middle; background:url("/widgets/pnx/1.0/img/icons/signals-sensors-icons-xsm.png") top left no-repeat; }
.pnx-ssicon-volt-xsm{ width:20px; height:20px; background-position:0px -7px; }
.pnx-ssicon-mic-xsm{ width:20px; height:20px; background-position:0px -32px; }
.pnx-ssicon-enc-xsm{ width:20px; height:20px; background-position:0px -58px; }
.pnx-ssicon-acc-xsm{ width:20px; height:20px; background-position:0px -82px; }
.pnx-ssicon-cur-xsm{ width:20px; height:20px; background-position:0px -109px; }
.pnx-ssicon-temp-xsm{ width:20px; height:20px; background-position:0px -134px; }
.pnx-ssicon-diohw-xsm{ width:20px; height:20px; background-position:0px -159px; }
.pnx-ssicon-diosw-xsm{ width:20px; height:20px; background-position:0px -184px; }
.pnx-ssicon-strain-xsm{ width:20px; height:20px; background-position:0px -210px; }
.pnx-ssicon-ctrs-xsm{ width:20px; height:20px; background-position:0px -231px; }
.pnx-ssicon-pwm-xsm{ width:20px; height:20px; background-position:0px -253px; }



/** MORE ICONS THESE ARE NEW */

[class^="pnx-icn-"],
[class*=" pnx-icn-"] {
  display: inline-block;
  width: 25px;
  height: 16px;
  line-height: 16px;
  vertical-align: middle;
  background-image: url("../img/icons/pnx-icns.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

[class^="pnx-icn-"]:nth-child(2),
[class*=" pnx-icn-"]:nth-child(2){
  margin-left: 8px;
}

.pnx-icn-save{background-position: 0px -46px}
.pnx-icn-save.disabled{background-position: 0px -92px}
.pnx-icn-rtf{background-position: 0px -184px}
.pnx-icn-pdf{background-position: 0px -460px}
.pnx-icn-phone{background-position: 0px -322px}
.pnx-icn-phone.disabled{background-position: 0px -368px}
.pnx-icn-email{background-position: 0px -597px}
.pnx-icn-user{background-position: 0px -733px}
.pnx-icn-user.disabled{background-position: 0px -779px}
.pnx-icn-cart{background-position: 0px -870px}
.pnx-icn-cart.disabled{background-position: 0px -914px}
.pnx-icn-print{background-position: 0px -1016px}
.pnx-icn-fax{background-position: 0px -1016px}
.pnx-icn-chevLeft{background-position: 0px -1162px; height: 18px}
.pnx-icn-chevRight{background-position: 0px -1210px; height: 18px}
.pnx-icn-pageLeft{background-position: 0px -1257px; height: 18px}
.pnx-icn-pageRight{background-position: 0px -1303px; height: 18px}
.pnx-icn-globalSearch{background-position: 0px -1349px; height: 18px}
.pnx-icn-sidebarSearch{background-position: 0px -1394px; height: 20px; width: 28px}
.pnx-icn-search{background-position: 0px -1442px}
.pnx-icn-retrieve{background-position: -3px -1956px}
.pnx-icn-refresh{background-position: -3px -1818px}
.pnx-icn-request-quote{background-position: -3px -1542px}
.pnx-icn-chat{background-position: -3px -1542px}
.pnx-icn-chat.disabled{background-position: -3px -1588px}
.pnx-icn-download{background-position: -3px -1680px}
.pnx-icn-download.disabled{background-position: -3px -1726px}
.pnx-icn-rss{background-position: 0px -2098px}
.pnx-icn-srm{background-position: -3px -2373px}
.pnx-icn-srm.disabled{background-position: -3px -2423px}
.pnx-icn-training{background-position: -3px -2233px}
.pnx-icn-training.disabled{background-position: -3px -2278px}
.pnx-icn-checkmark{background-position: -3px -1123px}
.pnx-icn-attachment{background-position:-3px -2460px; height:20px;}


a:hover .pnx-icn-save{background-position: 0px 0}
a:hover .pnx-icn-save.disabled{background-position: 0px -92px}
a:hover .pnx-icn-rtf{background-position: 0px -138px}
a:hover .pnx-icn-pdf{background-position: 0px -414px}
a:hover .pnx-icn-phone{background-position: 0px -276px}
a:hover .pnx-icn-email{background-position: 0px -552px}
a:hover .pnx-icn-user{background-position: 0px -687px}
a:hover .pnx-icn-cart{background-position: 0px -825px}
a:hover .pnx-icn-print{background-position: 0px -960px}
a:hover .pnx-icn-fax{background-position: 0px -960px}
a:hover .pnx-icn-retrieve{background-position: -3px -1910px}
a:hover .pnx-icn-refresh{background-position: -3px -1772px}
a:hover .pnx-icn-request-quote{background-position: -3px -1496px}
a:hover .pnx-icn-chat{background-position: -3px -1496px}
a:hover .pnx-icn-download{background-position: -3px -1634px}
a:hover .pnx-icn-rss{background-position: 0px -2052px}
a:hover .pnx-icn-srm{background-position: -3px -2322px}
a:hover .pnx-icn-training{background-position: -3px -2190px}

span:hover .pnx-icn-phone{background-position: 0px -32px}
span:hover .pnx-icn-phone.disabled{background-position: 0px -368px}
span:hover .pnx-icn-user{background-position: 0px -687px}
span:hover .pnx-icn-user.disabled{background-position: 0px -779px}
span:hover .pnx-icn-chat{background-position: -3px -1496px}
span:hover .pnx-icn-chat.disabled{background-position: -3px -1588px}
span:hover .pnx-icn-download{background-position: -3px -1634px}
span:hover .pnx-icn-download.disabled{background-position: -3px -1726px}
span:hover .pnx-icn-srm{background-position: -3px -2322px}
span:hover .pnx-icn-srm.disabled{background-position: -3px -2423px}
span:hover .pnx-icn-training{background-position: -3px -2190px}
span:hover .pnx-icn-training.disabled{background-position: -3px -2278px}

/******** Action icons ********/
.pnx-actions{ background:url("../img/icons/pnx-icns.png") 50px 50px no-repeat; display:inline-block;}

[class^="pnx-action-l-"],
[class*=" pnx-action-l-"] {
  padding-left: 26px;
  height: 17px;
  vertical-align: middle;
}

.pnx-action-l-download{   background-position: -2px -1680px;}
.pnx-action-l-download:hover{   background-position: -2px -1634px }
.pnx-action-l-request-quote{    background-position: -2px -1542px; }
.pnx-action-l-request-quote:hover{    background-position: -2px -1496px; }
.pnx-action-l-print-fax{    background-position: 1px -1016px;}
.pnx-action-l-print-fax:hover{    background-position: 1px -960px}
.pnx-action-l-print{   background-position: 1px -1016px;}
.pnx-action-l-print:hover{   background-position: 1px -960px}
.pnx-action-l-buy-now{   background-position: 0px -870px }
.pnx-action-l-buy-now:hover{   background-position: 0px -825px }
.pnx-action-l-save-share{    background-position: 0px -46px;}
.pnx-action-l-save-share:hover{   background-position: 0px 0 }
.pnx-action-l-refresh{    background-position:0px -1818px; }
.pnx-action-l-refresh:hover{    background-position:0px -1772px; }

/*finish disables*/
.pnx-action-l-download.disabled{   background-position: -2px -1680px;}
.pnx-action-l-download.disabled:hover{   background-position: -2px -1634px }
.pnx-action-l-request-quote.disabled{    background-position: -2px -1542px; }
.pnx-action-l-request-quote.disabled:hover{    background-position: -2px -1496px; }
.pnx-action-l-print-fax.disabled{    background-position: 1px -1016px;}
.pnx-action-l-print-fax.disabled:hover{    background-position: 1px -960px}
.pnx-action-l-print.disabled{   background-position: 1px -1016px;}
.pnx-action-l-print.disabled:hover{   background-position: 1px -960px}
.pnx-action-l-buy-now.disabled{   background-position: 0px -870px }
.pnx-action-l-buy-now.disabled:hover{   background-position: 0px -825px }
.pnx-action-l-save-share.disabled{    background-position: 0px -92px }
.pnx-action-l-save-share.disabled:hover{   background-position: 0px -92px}
.pnx-action-l-refresh.disabled{    background-position:0px -1818px; }
.pnx-action-l-refresh.disabled:hover{    background-position:0px -1772px; }

[class^="pnx-action-r-"],
[class*=" pnx-action-r-"] {
  padding-right:31px;
  height: 17px;
  vertical-align: middle;
}

.pnx-action-r-download{ background-position:100% -1680px }
.pnx-action-r-download:hover{ background-position:100% -1634px  }
.pnx-action-r-request-quote{  background-position:100% -1542px }
.pnx-action-r-request-quote:hover{  background-position:100% -1496px}
.pnx-action-r-print-fax{  background-position:100% -1016px}
.pnx-action-r-print-fax:hover{  background-position:100% -960px}
.pnx-action-r-print{  background-position:100% -1016px }
.pnx-action-r-print:hover{  background-position:100% -960px}
.pnx-action-r-buy-now{  background-position:100% -870px }
.pnx-action-r-buy-now:hover{  background-position:100% -825px }
.pnx-action-r-save-share{    background-position:100% -46px }
.pnx-action-r-save-share:hover{  background-position:100% 0; }
.pnx-action-r-refresh{  background-position:97% -1818px; }
.pnx-action-r-refresh:hover{  background-position:97% -1772px;}


[class^="support-icon-"],
[class*=" support-icon-"] {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  vertical-align: middle;
  background-image: url("../img/icons/support-icons.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  margin-right:12px;
}

.support-icon-prod-manuals{ background-position:-389px 100% }
.support-icon-knowledge-base{ background-position:-143px 100% }
.support-icon-discuss{ background-position:-301px 100% }
.support-icon-downloads{ background-position:-69px 100% }
.support-icon-tutorials{ background-position:0px 100% }
.support-icon-examples{ background-position:-220px 100% }
